@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Montserrat', sans-serif;  */
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;

}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 80vw;
    margin: auto;
}

.text-uppercase {
    text-transform: uppercase;
}

/* NAVBAR  */
nav {
    background-color: rgb(62, 119, 224);
    color: #fff;
    padding: 2.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    padding: 0 2rem;
    text-align: center;
}

.nav-link {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    transition: .5s all ease-in;

}

.nav-link:hover {
    color: #18bc9c;
}

#nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;

}

/* HEADER */

header {
    background-color: #18bc9c;
    padding: 155px 0;
    min-width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgb(242, 230, 217);
    margin: 2rem auto;
    letter-spacing: 2px;

}

.img-fluid {
    max-width: 100%;
    height: auto;

}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star {
    font-size: 7rem;
    color: rgb(242, 230, 217);
    margin: 0 1rem;
}

.star-light {
    border: none;
    border-top: .4rem solid rgb(242, 230, 217);
    padding: 5px;
    width: 15rem;
    margin: 3rem 0;
}

header p {
    margin: 3rem 0;
    color: rgb(242, 230, 217);
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

/* PORTFOLIO */
#portfolio {
    background-color: rgb(242, 230, 217);
    padding: 10rem 0;

}

#portfolio h2 {
    font-size: 7rem;
    color: #18bc9c;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}
.dark-star{
    padding-bottom: 8rem;
}
.star-dark {
    border: none;
    border-top: .4rem solid #18bc9c;
    padding: 5px;
    width: 15rem;
    margin: 3rem 0;
    /* margin-bottom: 15rem; */
}

.fa-dark {
    font-size: 7rem;
    color: #18bc9c;
    margin: 0 1rem;
}

.portfolio-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.col img {
    width: 97%;
}


.portfolio-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.icon-search{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    text-align: center;
    font-size: 6rem;
    visibility: hidden;
    left: 0;
    top: 0;
    
}

.portfolio-item:hover .icon-search{
    opacity: .6;
    background-color: #18bc9c;
    /* display: inline-block; */
    visibility: visible;
    overflow: hidden;
    width: 97%;
    height: 98%;
    transition: .4s all ease;

}
/* ABOUT */

#about{
    background-color: #18bc9c;
    color: rgb(242, 230, 217);
    padding: 8rem 0;
}
#about h2{
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 45vw;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: justify;
}
.about-content p{
    min-height: 300px;
    margin-right: 5rem;
    width: 50%;
    font-size: 2rem;
}
.p1{
    margin-left: 4rem;
}


.btn{
    padding: 2rem 3rem;
    border: rgb(242, 230, 217) solid 1px;
    border-radius: .5rem;
    background-color: #18bc9c;
    color: rgb(242, 230, 217);
    font-size: 3rem;
    margin-top: 2rem;
    transition: .5s all ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background-color:rgb(242, 230, 217) ;
    color: #18bc9c;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* CONTACT */
#contact{
    background-color:rgb(242, 230, 217) ;
    
}

#contact h2{
    padding-top: 3rem;
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
    color: #18bc9c;
}

#contact form{
    width: 50vw;
    margin: 0 auto;
}
#contact form input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #18bc9c;
    padding: 3rem 4rem;
    margin-bottom: 3rem;
    background-color:rgb(242, 230, 217) ;
    outline: none;
}
#contact form textarea{
    width: 100%;
    padding: 3rem 4rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;
    background-color:rgb(242, 230, 217) ;
    border-bottom: 2px solid #18bc9c;
}
.snd-btn{
    margin-bottom: 5rem;
    padding: 1rem 4rem;
    color: #18bc9c;
    background-color: rgb(242, 230, 217);
    display: inline-block;
    border: #18bc9c 2px solid;
    transition: .5s all ease;
}
.snd-btn:hover{
    color:rgb(242, 230, 217) ;
    background-color: #18bc9c;
    transform: scale(1.07);
}

/* FOOTER */

footer{
    background-color: rgb(62, 119, 224);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-side{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
    padding-top: 5rem;
}

.footer-item{
    text-align: center;
    width: 33%;
    height: 100%;
}
.footer-item h3{
    font-size: 3rem;
    margin-bottom: 4rem;
}
.info{
    width: 30rem;
}
.web{
    width: 30rem;
}
.location{
    width: 30rem;
}
.footer-item p{
    text-align: center;

    font-size: 2rem;

}
.bot-side{
    margin-top: 5rem;
    padding-bottom: 4rem;
}
.fa-brands{
    font-size: 4rem;
}
